<% include HeadLayout %>
	<div class="container" role="main">
		<div class="row">
			<div class="col-sm-9">
			
				<form action="/question/find" method="post" accept=charset="utf-8">
					<div class="form-group">
					<span>Search question:</span>
					<input type="text" name="content" />				
					<button type="submit" class="btn btn-default"><span class=" glyphicon glyphicon-search"></span></button>
					</div>
				</form>
				<hr />
				<ul class="nav nav-tabs">
				  <li <%if(sort === 'date') { %>class="active"<% } %>><a href="/questions/?sort=date">Newest</a></li>
				  <li <%if(sort === 'views') { %>class="active"<% } %>><a href="/questions/?sort=views">Most Viewed</a></li>
				  <li <%if(sort === 'hotness') { %>class="active"<% } %>><a href="/questions/?sort=hotness">Hottest</a></li>
				</ul>


			<% threads.forEach( function( thread ){ var votes = thread.question.vote_up.length - thread.question.vote_down.length; %>
			<div class="media">
				<div class="pull-left text-center">
					<p>
						<span> votes </span>
					<p>
					<h4><%= votes %></h4>
					<p>
				</div>
				<div class="media-body auto">
					<p class="media-heading">

						<img data-src="holder.js/100%x180" alt="..."> 
						<b> <% if(thread.created_by) { %> <%= thread.created_by.username %> <% } %>  
							asked : <a href="/question/<%= thread._id %>"> <%=	thread.title %></a>
						</b>
						<span>(<%= thread.views %> views)</span>
					</p>
					<p>
						<% if(thread.question !== undefined && thread.question!=null) { %>
						<%= thread.question.content %>
						<% } else {%>
						... ...
						<% } %>
					</p>
					<div class="navbar-right post-editor">
						<a href="/question/delete/<%= thread._id %>"
							title="Delete this post item"">Delete</a>
					</div>

				</div>
			</div>

			<hr />
			<% }); %>

			</div>
				<form method="get" action="/question/create">			
					<button type="submit" class="btn btn-primary">Ask a question</button>
				</form>
			<div class="col-sm-3">
			<div>
				
			</div>
			</div>
		</div>
		<ul class="pagination">
		  <li><a href="/questions/?index=<%= (current_page-page_size)>=0? (current_page-page_size) : (0) %>&sort=<%= sort %>">&laquo;</a></li>
		  <% for(var i=0;i<total;i+=page_size ) { %>
		  	<li <% if(i>=current_page && i < (current_page+page_size)) { %> class="active" <% } %>>
		  		<a href="/questions/?index=<%= i %>"><%= i/page_size + 1 %>
		  		</a>
		  	</li>
		  <% } %>
		  <li><a href="/questions/?index=<%= (current_page+page_size)<total? (current_page+page_size) : (total-1) %>&sort=<%= sort %>">&raquo;</a></li>
		</ul>
	</div>
			

<% include FootLayout %>
